@font-face {
    font-family: "Cabinet";
    src: url(fonts/CabinetGrotesk-Variable.ttf);


}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --verde-solara: #438332;
    --azul-solara: #2f2d73;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    height: 165px;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;

}

.menu span {
    color: var(--verde-solara);
    text-decoration: underline;
}

header img {
    width: 100px;

}

.menu a {
    font-family: "Cabinet";
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 500ms ease;
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration: underline;
    color: var(--verde-solara);

}

header {
    color: white;
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
    background-color: white;
}

body {
    background-color: #F2F2F2;
}

/* outra seção*/
.conteudo-sobre {
    margin-top: 100px;
}

img {
    width: 100%;
}

img.asset {
    width: 10%;
}

#sobre p {
    font-family: "Montserrat";
    line-height: 150%;
    text-align: left;
    font-size: 22px;
    margin-bottom: 30px;
}

#sobre p b {
    color: var(--azul-solara);
}

.conteudo-sobre {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}

/* Mvv*/

#mvv {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}

#mvv h1 {
    font-family: "Cabinet";
    font-size: 50px;
    font-weight: bold;
    color: var(--azul-solara);
    margin-bottom: 75px;
}

#mvv h2 {
    font-family: "montserrat";
    font-size: 30px;
    font-weight: 500;
    color: var(--azul-solara);
    margin-bottom: 10px;
}

#mvv {
    font-family: "Montserrat";
    font-size: 22px;
    line-height: 150%;
}

.missao {
    padding-bottom: 45px;
    background-image: url(img/Group\ 82.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
    background-size: 200px;
}

.visao {
    padding-bottom: 45px;
    background-image: url(img/Group\ 85.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
    background-size: 200px;
}

.valores {
    padding-bottom: 45px;
    background-image: url(img/Vector.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 300px;
    background-size: 200px;
}

#mvv p {
    width: 920px;
}

#mvv b {
    color: var(--azul-solara);

}



/* FOOTER */
footer {

    background-color: var(--azul-solara);
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudo {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.471);
    padding-top: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.471);
    padding-bottom: 50px;
    
}

.conteudo img {
    height: 35%;
    width: 35%;

}

/*telefone*/

.telefone {
    display: flex;
    width: 250px;
    align-items: center;
   
}

.telefone p {
    font-family: "Montserrat";
    color: white;
}

.telefone img {
    height: 65px;
    width: 65px;
    padding-right: 20px;
}

/*gmail*/

.gmail {
    display: flex;
    width: 250px;
    align-items: center;

}

.gmail p {
    font-family: "Montserrat";
    color: white;
}

.gmail img {
    height: 65px;
    width: 65px;
    padding-right: 20px;
}

/*Social media*/

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media p {
    font-family: "Montserrat";
    color: white;
    width: 300px;
}

.social-media img {
    height: 30px;
}

.linha-cima {
    display: flex;
    padding-bottom: 60px;
    justify-content: space-between;
}

.menu footer {
    margin-top: 100px;
}

.links footer {
    margin-top: 100px;
    display: flex;

}

.menu-no-footer {
    margin-top: 30px;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    
}

.cop {
    padding-left: 160px;
}

.menu-footer a {
    font-family: "Montserrat";
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;
}

.menu-footer a:hover {
    text-decoration: underline;
}

.menu-footer p {
    color: #ffffff9e;
    font-family: "Montserrat";
    font-size: 12px;
}