@font-face {
    font-family: "Cabinet";
    src: url(fonts/CabinetGrotesk-Variable.ttf);


}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --verde-solara: #438332;
    --azul-solara: #2f2d73;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    height: 165px;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;

}

header img {
    width: 100px;

}

.menu a {
    font-family: "Cabinet";
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 500ms ease;
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration: underline;
    color: var(--verde-solara);

}

header {
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* outra seção*/
.conteudo{
    margin-top: 100px;
}

img {
    width: 100%;
}

img.asset {
    width: 10%;
}

#sobre p {
    font-family: "Montserrat";
    line-height: 150%;
    text-align: left;
    font-size: 22px;
    margin-bottom: 30px;
}

#sobre p b {
    color: var(--azul-solara);
}

.conteudo {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}

/* Mvv*/

#mvv {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}

#mvv h1{
    font-family:"Cabinet" ;
    font-size: 50px;
    font-weight: bold;
    color: var(--azul-solara);
}

#mvv h2{
    font-family: "montserrat";
    font-size: 30px;
    font-weight: 500;
}

#mvv {
    font-family: "Montserrat";
    font-size: 22px;
    line-height: 150%;
}