@font-face {
    font-family: "Cabinet";
    src: url(font/CabinetGrotesk-Variable.ttf);


}

@font-face {
    font-family: "Montserrat";
    src: url(font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Cabinet Bold;
    src: url(font/CabinetGrotesk-Bold.otf);
}

:root {
    --verde-solara: #438332;
    --azul-solara: #2f2d73;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    height: 165px;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;

}

header img {
    width: 100px;

}

.menu a {
    font-family: "Cabinet";
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 500ms ease;
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration: underline;
    color: var(--verde-solara);

}

header {
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.banner img {
    width: 100%;
}

#Sobre {
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#Sobre h2{
    font-family: Cabinet Bold;
    font-size: 50px;
    color: var(--azul-solara);
}

#Sobre p{
    font-family: Montserrat;
    font-size: 22px;
    width: 600px;
}

#Sobre p b{
    color: var(--azul-solara);
}

#Produtos img{
    width: 70%;
}

#Produtos{
    display: flex;
    justify-content: center;

    margin-bottom: 70px;
}

#Beneficios p{
    font-family: Montserrat;
    font-size: 22px;
}


#Beneficios p b {
    color: var(--azul-solara);
}

#Beneficios {
    display: flex;
    flex-direction: row;

    height: 300px;
}

.primeiro-topico p,.ultimo-topico p{
    width: 800px;

    margin-bottom: 20px;
}
