@font-face {
    font-family: "Cabinet Bold";
    src: url(fonts/CabinetGrotesk-Bold.otf);
}

@font-face {
    font-family: "Cabinet Medium";
    src: url(fonts/CabinetGrotesk-Medium.otf);
}

:root {
    --verde-solara: #438332;
    --azul-solara: #2f2d73;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

body {
    background-color: #f2f2f2;
}




header button {
    display: none;
    color: var(--azul-solara);

}

header {
    height: 165px;
    background-color: white;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;

}

header img {
    width: 100px;

}

.menu a {
    font-family: "Cabinet Medium";
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 500ms ease;
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;
}


.menu span {
    color: var(--verde-solara);
    text-decoration: underline;
}



.menu a:hover {
    text-decoration: underline;
    color: var(--verde-solara);

}

header {
    color: white;
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

.conteudo-banner img {
max-width: 100%;
}




.tipos-placa-solar {
    text-align: center;
    margin: 40px auto;
}

.placas-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.placa {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.placa img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.placa h3 {
    color: #4caf50;
    /* Mude a cor para a desejada */
    margin: 10px 0;
}

.uso-placas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px 0;
    gap: 20px;
    padding: 20px;
}

.uso-domestico,
.uso-empresarial {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%;
}

.uso-domestico img,
.uso-empresarial img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.uso-domestico h2,
.uso-empresarial h2 {
    font-size: 1.8rem;
    color: black;
    /* Mude a cor se necessário */
    margin-bottom: 15px;
}

.uso-domestico p,
.uso-empresarial p {
    font-size: 1rem;
    color: #555;
}