@font-face {
    font-family: "Cabinet Bold";
    src: url(fonts/CabinetGrotesk-Bold.otf);
}

@font-face {
    font-family: "Cabinet Medium";
    src: url(fonts/CabinetGrotesk-Medium.otf);
}

:root {
    --verde-solara: #438332;
    --azul-solara: #2f2d73;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

body {
    background-color: #f2f2f2;
}




header button {
    display: none;
    color: var(--azul-solara);

}

header {
    height: 165px;
    background-color: white;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;

}

header img {
    width: 100px;

}

.menu a {
    font-family: "Cabinet Medium";
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 500ms ease;
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;
}


.menu span {
    color: var(--verde-solara);
    text-decoration: underline;
}



.menu a:hover {
    text-decoration: underline;
    color: var(--verde-solara);

}

header {
    color: white;
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

.texto {
    max-width: 40%;
}

.texto h2 {
    font-size: 32px;
    font-family: "Cabinet bold";

    font-weight: 400;
    margin-bottom: 15px;

    color: #000;
}

.texto p {
    width: 80%;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    line-height: 1.7;

    margin-bottom: 70px;
}

.texto {
    max-width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

input[name="telefone"],
input[name="ddd"] {
    margin-top: 8px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;

    padding: 10px;
    margin-bottom: 20px;

    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #999;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #5c9ded;
    outline: none;
}

.phone-section {
    display: flex;
    gap: 15px;
}


.ddd-wrapper {
    flex: 1;
}

.telefone-wrapper {
    flex: 2;
}

textarea {
    resize: none;
}

button {
    width: 100%;


    padding: 12px;
    background-color: var(--azul-solara);
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-family: "Cabinet Bold";
    cursor: pointer;
    transition: 500ms ease;
}

button:hover {
    background-color: #24244F;
    font-size: 18px;

}

#contato {
    height: 600px;
    padding-top: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.formulario {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 18px;
}

input::placeholder,
textarea::placeholder {
    font-family: "Montserrat";
    font-weight: light;
    font-size: 16px;

}

.info svg {
    height: 24px;
    margin-bottom: 8px;
    color: var(--azul-solara);
}

.info h2 {
    font-size: 24px;
    margin-top: 48px;
    margin-right: 48px;
    color: var(--azul-solara);

}

.info {
    display: flex;
    flex-direction: row;
}

.info a {
    text-decoration: none;
    margin-left: 10px;

    font-family: "Cabinet Medium";
    color: #000;
    font-size: 16px;
}


.numero,
.email,
.horario {
    display: flex;
    margin: 8px;
}


.menu-fechado {
    display: none;
}


#icone-barras {
    display: none;
}


.info2 {
    display: none;
}

.texto2 {
    display: none;
}


/* FOOTER */
footer {

    background-color: var(--azul-solara);

    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudo {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.471);
    padding-top: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.471);
    padding-bottom: 50px;
    
}

.conteudo img {
    height: 35%;
    width: 35%;

}

/*telefone*/

.telefone {
    display: flex;
    width: 250px;
    align-items: center;
   
}

.telefone p {
    font-family: "Montserrat";
    color: white;
}

.telefone img {
    height: 65px;
    width: 65px;
    padding-right: 20px;
}

/*gmail*/

.gmail {
    display: flex;
    width: 250px;
    align-items: center;

}

.gmail p {
    font-family: "Montserrat";
    color: white;
}

.gmail img {
    height: 65px;
    width: 65px;
    padding-right: 20px;
}

/*Social media*/

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-media p {
    font-family: "Montserrat";
    color: white;
    width: 300px;
}

.social-media img {
    height: 30px;
}

.linha-cima {
    display: flex;
    padding-bottom: 60px;
    justify-content: space-between;
}

.menu footer {
    margin-top: 100px;
}

.links footer {
    margin-top: 100px;
    display: flex;

}

.menu-no-footer {
    margin-top: 30px;
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    
}

.cop {
    padding-left: 160px;
}

.menu-footer a {
    font-family: "Montserrat";
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;
}

.menu-footer a:hover {
    text-decoration: underline;
}

.menu-footer p {
    color: #ffffff9e;
    font-family: "Montserrat";
    font-size: 12px;
}

@media screen and (max-width: 1300px) {
    header {
        position: relative;

        box-shadow: none;
    }

    .banner {
        height: 100vh;

        background-image: url(img/banner.png);
        background-repeat: no-repeat;

        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }

    header button {
        width: 70px;

        display: unset;

        background: none;
        border: none;

    }

    header svg {
        fill: var(--azul-solara);

    }

    button:hover {
        background-color: unset;
    }


    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;


        flex-direction: column;
        justify-content: space-around;

        background-color: #2f2d738b;


        position: absolute;
        top: 165px;
        right: 0px;

        transition: unset;

    }

    .menu a {
        color: white;
    }

    .info {
        display: none;
    }

    #contato {
        height: auto;

        flex-direction: column;
    }

    .texto {
        display: none;
    }

    .texto2 {
        display: flex;
        flex-direction: column;
      
       padding-bottom: 8%;

    }

    .texto2 h2{
        font-family: "Cabinet Bold";
        font-size: 26px;

        margin-bottom: 5%;
        display: flex;
        justify-content: center;
    }

    .texto2 p {

        width: auto;
        display: flex;
        font-family: "Montserrat";
        font-size: 18px;
        
    }

    .info2 {
        height: auto;

        display: flex;
        padding: 2%;
        flex-direction: column;

        align-items: center;
        margin-bottom: 30px;
    }

    .info2 a {
        text-decoration: none;
        margin-left: 10px;

        font-family: "Cabinet Medium";
        color: #000;
        font-size: 16px;

    }

    .info2 svg {
        height: 30px;

        color: var(--azul-solara);
    }


    .info2 h2 {
        font-size: 24px;
        margin-top: 48px;

        color: var(--azul-solara);
        margin-bottom: 15px;

        font-family: "Cabinet Bold";

    }

    .horario2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

} 