@font-face {
    font-family: "Cabinet Bold";
    src: url(fonts/CabinetGrotesk-Bold.otf);
}

@font-face {
    font-family: "Cabinet Medium";
    src: url(fonts/CabinetGrotesk-Medium.otf);
}

:root {
    --verde-solara: #438332;
    --azul-solara: #2f2d73;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

body {
    background-color: #f2f2f2;
}

header {
    height: 165px;
    background-color: white;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-right: 70px;

}

header img {
    width: 100px;

}

.menu a {
    font-family: "Cabinet Medium";
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    transition: 500ms ease;
    text-decoration: underline transparent;
    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration: underline;
    color: var(--verde-solara);

}

header {
    color: white;
    /* Cor do texto */
    padding: 20px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

.texto {
    max-width: 40%;
}

.texto h2 {
    font-size: 32px;
    font-family: "Cabinet bold";

    font-weight: 400;
    margin-bottom: 15px;

    color: #000;
}

.texto p {
    width: 80%;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    line-height: 1.7;

    margin-bottom: 70px;
}

.texto {
    max-width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

input[name="telefone"],
input[name="ddd"] {
    margin-top: 8px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;

    padding: 10px;
    margin-bottom: 20px;

    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    color: #999;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #5c9ded;
    outline: none;
}

.phone-section {
    display: flex;
    gap: 10px;
}

.ddd-wrapper {
    flex: 1;
}

.telefone-wrapper {
    flex: 2;
}

textarea {
    resize: none;
}

button {
    width: 100%;


    padding: 12px;
    background-color: var(--azul-solara);
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-family: "Cabinet Bold";
    cursor: pointer;
    transition: 500ms ease;
}

button:hover {
    background-color: #24244F;
    font-size: 18px;

}

#contato {
    height: 600px;
    padding-top: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.formulario {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 18px;
}

input::placeholder,
textarea::placeholder {
    font-family: "Montserrat";
    font-weight: light;
    font-size: 16px;

}

.info svg {
    height: 24px;
    margin-bottom: 8px;
    color: var(--azul-solara);
}

.info h2 {
    font-size: 24px;
    margin-top: 48px;
    margin-right: 48px;
    color: var(--azul-solara);

}

.info {
    display: flex;
    flex-direction: row;
}

.info a {
    text-decoration: none;
    margin-left: 10px;

    font-family: "Cabinet Medium";
    color: #000;
    font-size: 16px;
}


.numero,
.email,
.horario {
    display: flex;
    margin: 8px;
}
